<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
">

    <!-- 
       声明student对象
       
       简单类型：spring中规定java的基本类型和stirng都是简单类型
       
       di：给属性赋值
       1. set注入（设值注入）：调用spring类的set方法
       简单类型set注入 -
            <bean id="xx" class="yy">
                <property name="属性名" value="属性值" />
            </bean>
       总结：1） 如果需要通过spring配置文件中的property赋值，类中必须要有property的set的方法，并且spring是先执行无参构造方法，再根据下面property调用有关的set方法。
            2） spring只是调用spring的set方法，然而set方法里面到底有没有赋值，spring不关心, 例如setEmail
    -->
    <bean id="myStudent" class="com.company.ba01.Student">
        <property name="name" value="lisi" />  <!-- com.company.ba01.Student.setName("lisi") -->
        <property name="age" value="19"/>        <!-- com.company.ba01.Student.setAge("19") -->
        <property name="email" value="lisi@lisi.com"/>  
        <property name="address" value="asdfasdf"/>  <!-- 即便类中没有address这个property， 但这个不会报错，而且执行setAddress方法 -->
    </bean>
    
    
    <bean id="myDate" class="java.util.Date">
        <property name="time" value="123213123"/>
    </bean>
    
</beans>
