<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
">

    <!--
        引用类型的自动注入:spring根据某些规则可以给引用类型赋值。
        使用的规则常用的是byName, byType
        1. byName（按名称注入）：java类中的引用类型的属性名和spring容器（配置文件）<bean>的id名称一样，
                                且数据类型是一致的，这样的容器中的bean，spring能够赋值给引用类型。
        语法：
        <bean id="xxx" class="yyyy" autowire="byName">
            简单类型属性赋值
        </bean>
           
           
        2.byType(按类型注入)：java类中引用类型的数据类型和spring容器中（配置文件）<bean>的class属性是同源关系，这样的bean能够赋值给引用类型
            同源关系（一类）:
            1. java类中引用类型的数据类型和bean的class的值是一样的
            2. java类中引用类型的数据类型和bean的class的值父子类关系
            3. Java类中引用类型的数据类型和bean的class的值接口和实现类的关系
            
            语法：
            <bean id="xxx" class="yyyy" autowire="byType">
                简单类型属性赋值
            </bean>
    -->
    
    
    <bean id="myStudent" class="com.company.ba04.Student" autowire="byName">
        <property name="name" value="lisi" />  
        <property name="age" value="19"/>       
    </bean>
     
    <bean id="school" class="com.company.ba04.School">
        <property name="name" value="abac uni"/>  
        <property name="address" value="china"/>  
    </bean>    
    
</beans>
